ul {
    list-style-type: none;
    padding: 0;
}

li {
    padding: 10px;
    margin-bottom: 5px;
    background-color: #444;
    border-radius: 5px;
}

a {
    color: #ffcc00;
    text-decoration: none;
    margin-left: 10px;
}

a:hover {
    text-decoration: underline;
}

.character-details {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s ease-in-out, padding 0.5s ease-in-out;
    background-color: #444;
    margin-top: 5px;
    padding: 0 10px;
    border-radius: 5px;
}

.character-details.open {
    max-height: 500px;
    padding: 10px;
}

.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.pagination button {
    background-color: #444;
    color: #ffcc00;
    border: none;
    padding: 10px 20px;
    margin: 0 10px;
    border-radius: 20px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.1s;
    font-size: 16px;
    font-weight: bold;
    outline: none;
}

.pagination button:hover,
.pagination button:focus {
    background-color: #555;
    transform: scale(1.05);
}

.pagination span {
    color: #fff;
    font-size: 16px;
    margin: 0 10px;
}

