<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Mooovies</title>
    <link rel="stylesheet" th:href="@{/css/baseStyles.css}">
    <link rel="stylesheet" th:href="@{/css/movies/styles.css}" />
    <script th:src="@{/js/movies/movies.js}" defer></script>
</head>

<body>
    <div th:replace="menu :: menuFragment"></div>
    <h1>Mooovie list</h1>
    <div class="searchBar">
        <a href="/movies/add" class="button">Add Movie</a>
        <div class="search">
            <input type="text" id="directorInput" placeholder="Director name"
                th:value="${searchDirector != null ? searchDirector : ''}" />
            <input type="number" id="minDurationInput" min="0" placeholder="Min duration"
                th:value="${searchMinDuration != null ? searchMinDuration : ''}" />
            <input type="number" id="maxDurationInput" min="0" placeholder="Max duration"
                th:value="${searchMaxDuration != null ? searchMaxDuration : ''}" />
            <button class="searchMovies" onclick="searchMovies()">Search</button>
        </div>
    </div>
    <ul id="moviesList">
        <li th:each="movie : ${movies}">
            <h2 th:class="${movie.title == null ? 'nullTitle' : ''}" th:text="${movie.title ?: 'No title set'}">Movie
                title</h2>
            <p th:text="'Director: ' + ${movie.details?.director?.name}">No director set</p>
            <p th:text="'Duración: ' + ${movie.duration} + ' minutos'">No duration set</p>
    </ul>
    </ul>
</body>

</html>