<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/css/movies.css}" />
    <script th:src="@{/js/addMovie.js}"></script>
    <title>Add Movie</title>
</head>
<body>
    <h1>Add movie document</h1>
    <form id="addMovieForm">
        <label for="movieInfo">Movie JSON:</label>
        <textarea id="movieInfo" name="movieInfo" rows="15" cols="50"></textarea>
        <button class="addMovie" type="submit">Add movie</button>
    </form>
</body>
</html>
